#titolo {
    font-family: 'Times New Roman', Times, serif;
    color: aqua;
    text-align: center;
}
body {
    background: linear-gradient(to left, #a00ae6,#049bcd);
}
#login {
  position: absolute;
  top: 20%;
  left: 50%;
  background-color: #a9a2a2 ;
}